In [1]:
import pandas as pd
import numpy as np
import gpelletier.custom.fonctions as gpf

data2015 = pd.read_csv('archive\\2015-building-energy-benchmarking.csv', sep=',')
data2016 = pd.read_csv('archive\\2016-building-energy-benchmarking.csv', sep=',')

nbr_lignes_2015 = data2015.shape[0]
nbr_colonnes_2015 = data2015.shape[1]

nbr_lignes_2016 = data2016.shape[0]
nbr_colonnes_2016 = data2016.shape[1]

In [2]:
#Visualisation des donnees:
data2015.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,TaxParcelIdentificationNumber,Location,CouncilDistrictCode,Neighborhood,YearBuilt,...,GHGEmissionsIntensity(kgCO2e/ft2),DefaultData,Comment,ComplianceStatus,Outlier,2010 Census Tracts,Seattle Police Department Micro Community Policing Plan Areas,City Council Districts,SPD Beats,Zip Codes
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,659000030,"{'latitude': '47.61219025', 'longitude': '-122...",7,DOWNTOWN,1927,...,2.64,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0,18081
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,659000220,"{'latitude': '47.61310583', 'longitude': '-122...",7,DOWNTOWN,1996,...,2.38,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0,18081
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,659000475,"{'latitude': '47.61334897', 'longitude': '-122...",7,DOWNTOWN,1969,...,1.92,Yes,NaN,Compliant,NaN,NaN,56.0,NaN,31.0,18081
3,5,2015,NonResidential,Hotel,HOTEL MAX,659000640,"{'latitude': '47.61421585', 'longitude': '-122...",7,DOWNTOWN,1926,...,31.38,No,NaN,Compliant,High Outlier,NaN,56.0,NaN,31.0,18081
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,659000970,"{'latitude': '47.6137544', 'longitude': '-122....",7,DOWNTOWN,1980,...,4.02,No,NaN,Compliant,NaN,NaN,56.0,NaN,31.0,19576

In [3]:
data2016.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3946027.0,12764.52930,1276453.0,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3242851.0,51450.81641,5145082.0,False,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,1.451544e+07,49526664.0,14938.00000,1493800.0,False,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,...,8.115253e+05,2768924.0,18112.13086,1811213.0,False,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,1.573449e+06,5368607.0,88039.98438,8803998.0,False,NaN,Compliant,NaN,505.01,2.88

In [4]:
#On constate que, entre les tableaux data2015 et data2016, les features n'ont pas toutes les memes noms.
#On modifie les noms des colonnes de data2016 pour qu'elles soient coherentes avec celles de data2015.
data2016 = data2016.rename(columns={'TotalGHGEmissions': 'GHGEmissions(MetricTonsCO2e)', 'GHGEmissionsIntensity': 'GHGEmissionsIntensity(kgCO2e/ft2)', 'ZipCode': 'Zip Codes'})

In [12]:
#L'entrainement se fera avec le dataset data2015.
#Les choix de colonnes a etudier se fera via ce dataset.
#On choisira les memes features pour data2016.

In [5]:
#De quel type de colonnes/features est compose ce tableau ?
data2015.dtypes.value_counts()

float64    23
object     15
int64       9
dtype: int64

In [ ]:
#Il y a 15 features contenant des string, et 32 features quantitatives

In [4]:
#Nombre de colonnes completement vides:
((data2015.isnull().sum() / len(data2015)) == 1).value_counts()

False    47
dtype: int64

In [ ]:
#Aucune colonne n'est completement vide.

In [6]:
#Memoire RAM utilisee:
data2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3340 entries, 0 to 3339
Data columns (total 47 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   OSEBuildingID                                                  3340 non-null   int64
 1   DataYear                                                       3340 non-null   int64
 2   BuildingType                                                   3340 non-null   object
 3   PrimaryPropertyType                                            3340 non-null   object
 4   PropertyName                                                   3340 non-null   object
 5   TaxParcelIdentificationNumber                                  3338 non-null   object
 6   Location                                                       3340 non-null   object
 7   CouncilDistrictCode                                            3340 non-null   int64
 8   Neighborhood                                                   3340 non-null   object
 9   YearBuilt                                                      3340 non-null   int64
 10  NumberofBuildings                                              3340 non-null   int64
 11  NumberofFloors                                                 3332 non-null   float64
 12  PropertyGFATotal                                               3340 non-null   int64
 13  PropertyGFAParking                                             3340 non-null   int64
 14  PropertyGFABuilding(s)                                         3340 non-null   int64
 15  ListOfAllPropertyUseTypes                                      3213 non-null   object
 16  LargestPropertyUseType                                         3204 non-null   object
 17  LargestPropertyUseTypeGFA                                      3204 non-null   float64
 18  SecondLargestPropertyUseType                                   1559 non-null   object
 19  SecondLargestPropertyUseTypeGFA                                1559 non-null   float64
 20  ThirdLargestPropertyUseType                                    560 non-null    object
 21  ThirdLargestPropertyUseTypeGFA                                 560 non-null    float64
 22  YearsENERGYSTARCertified                                       110 non-null    object
 23  ENERGYSTARScore                                                2560 non-null   float64
 24  SiteEUI(kBtu/sf)                                               3330 non-null   float64
 25  SiteEUIWN(kBtu/sf)                                             3330 non-null   float64
 26  SourceEUI(kBtu/sf)                                             3330 non-null   float64
 27  SourceEUIWN(kBtu/sf)                                           3330 non-null   float64
 28  SiteEnergyUse(kBtu)                                            3330 non-null   float64
 29  SiteEnergyUseWN(kBtu)                                          3330 non-null   float64
 30  SteamUse(kBtu)                                                 3330 non-null   float64
 31  Electricity(kWh)                                               3330 non-null   float64
 32  Electricity(kBtu)                                              3330 non-null   float64
 33  NaturalGas(therms)                                             3330 non-null   float64
 34  NaturalGas(kBtu)                                               3330 non-null   float64
 35  OtherFuelUse(kBtu)                                             3330 non-null   float64
 36  GHGEmissions(MetricTonsCO2e)                                   3330 non-null   float64
 37  GHGEmissionsIntensity(kgCO2e/ft2)                              3330 non-null   float64
 38  DefaultData                                                    3339 non-null   object
 39  Comment                                                        13 non-null     object
 40  ComplianceStatus                                               3340 non-null   object
 41  Outlier                                                        84 non-null     object
 42  2010 Census Tracts                                             224 non-null    float64
 43  Seattle Police Department Micro Community Policing Plan Areas  3338 non-null   float64
 44  City Council Districts                                         213 non-null    float64
 45  SPD Beats                                                      3338 non-null   float64
 46  Zip Codes                                                      3340 non-null   int64
dtypes: float64(23), int64(9), object(15)
memory usage: 1.2+ MB

In [7]:
data2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 46 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   OSEBuildingID                      3376 non-null   int64
 1   DataYear                           3376 non-null   int64
 2   BuildingType                       3376 non-null   object
 3   PrimaryPropertyType                3376 non-null   object
 4   PropertyName                       3376 non-null   object
 5   Address                            3376 non-null   object
 6   City                               3376 non-null   object
 7   State                              3376 non-null   object
 8   Zip Codes                          3360 non-null   float64
 9   TaxParcelIdentificationNumber      3376 non-null   object
 10  CouncilDistrictCode                3376 non-null   int64
 11  Neighborhood                       3376 non-null   object
 12  Latitude                           3376 non-null   float64
 13  Longitude                          3376 non-null   float64
 14  YearBuilt                          3376 non-null   int64
 15  NumberofBuildings                  3368 non-null   float64
 16  NumberofFloors                     3376 non-null   int64
 17  PropertyGFATotal                   3376 non-null   int64
 18  PropertyGFAParking                 3376 non-null   int64
 19  PropertyGFABuilding(s)             3376 non-null   int64
 20  ListOfAllPropertyUseTypes          3367 non-null   object
 21  LargestPropertyUseType             3356 non-null   object
 22  LargestPropertyUseTypeGFA          3356 non-null   float64
 23  SecondLargestPropertyUseType       1679 non-null   object
 24  SecondLargestPropertyUseTypeGFA    1679 non-null   float64
 25  ThirdLargestPropertyUseType        596 non-null    object
 26  ThirdLargestPropertyUseTypeGFA     596 non-null    float64
 27  YearsENERGYSTARCertified           119 non-null    object
 28  ENERGYSTARScore                    2533 non-null   float64
 29  SiteEUI(kBtu/sf)                   3369 non-null   float64
 30  SiteEUIWN(kBtu/sf)                 3370 non-null   float64
 31  SourceEUI(kBtu/sf)                 3367 non-null   float64
 32  SourceEUIWN(kBtu/sf)               3367 non-null   float64
 33  SiteEnergyUse(kBtu)                3371 non-null   float64
 34  SiteEnergyUseWN(kBtu)              3370 non-null   float64
 35  SteamUse(kBtu)                     3367 non-null   float64
 36  Electricity(kWh)                   3367 non-null   float64
 37  Electricity(kBtu)                  3367 non-null   float64
 38  NaturalGas(therms)                 3367 non-null   float64
 39  NaturalGas(kBtu)                   3367 non-null   float64
 40  DefaultData                        3376 non-null   bool
 41  Comments                           0 non-null      float64
 42  ComplianceStatus                   3376 non-null   object
 43  Outlier                            32 non-null     object
 44  GHGEmissions(MetricTonsCO2e)       3367 non-null   float64
 45  GHGEmissionsIntensity(kgCO2e/ft2)  3367 non-null   float64
dtypes: bool(1), float64(22), int64(8), object(15)
memory usage: 1.2+ MB

In [ ]:
#Actuellement, ces donnees utilisent 1.2MB de memoire RAM.

In [ ]:
#----------------------#

In [ ]:
#Quelques precisions trouvees sur internet:

In [40]:
#GFA = surface hors oeuvre brute
#La surface hors œuvre brute (SHOB) des constructions est égale à la somme des surfaces de chaque niveau, des surfaces des toitures-terrasses, des balcons ou loggias et des surfaces non closes situées au rez-de-chaussée, y compris l’épaisseur des murs et des cloisons.

#Sont compris les combles et sous-sols, aménageables ou non, les balcons, les loggias et toitures-terrasses.
#Ne sont pas compris les éléments ne constituant pas de surface de plancher, comme les terrasses non couvertes de plain-pied avec le rez-de-chaussée, les saillies à caractère décoratif, les vides (trémies d'ascenseur ou d'escalier, rampes d'accès).

In [ ]:
#1 metric ton = 1,000 kilograms

In [ ]:
#kBtu : thousands of British thermal units (kBtu) per square foot
 #Energy use intensity expresses a building’s energy use as a function of its size, typically in energy per square foot per year (kBtu/sf/yr). It’s calculated by dividing the total energy consumed by the building in one year (often measured in kBtu) by the total floor area of the building (often measured in square feet), and can be useful for comparing performance of buildings across sizes, types, and locations.

In [ ]:
#----------------------#

In [ ]:
#Les features a predire sont :
# - SiteEnergyUse(kBtu) (consommation totale d’énergie de bâtiments)
# - GHGEmissions(MetricTonsCO2e) (prédire les émissions de CO2)

In [ ]:
#----------------------#
#----------------------#

In [ ]:
#Premier nettoyage, avant analyse des fetures pertinentes.

In [ ]:
#----------------------#

In [ ]:
#On effectue un tri sur les buildings non residentiels (on supprime 'Multifamily')

In [8]:
data2015['BuildingType'].value_counts()

NonResidential          1461
Multifamily LR (1-4)    1029
Multifamily MR (5-9)     554
Multifamily HR (10+)     107
SPS-District K-12         99
Nonresidential COS        68
Campus                    22
Name: BuildingType, dtype: int64

In [ ]:
#SPS-District K-12 -> ecole
#Campus -> university, college, etc
#Ce ne sont pas des habitations, on les garde dans les donnees.

In [9]:
#BuildingType ne contenant pas 'Multifamily':
data2015[~data2015['BuildingType'].str.contains('Multifamily')]['BuildingType'].unique()

array(['NonResidential', 'Nonresidential COS', 'SPS-District K-12',
       'Campus'], dtype=object)

In [10]:
data2016[~data2016['BuildingType'].str.contains('Multifamily')]['BuildingType'].unique()

array(['NonResidential', 'Nonresidential COS', 'SPS-District K-12',
       'Campus', 'Nonresidential WA'], dtype=object)

In [11]:
#On met a jour les dataset, sans les Buildings de type 'Multifamily':
data2015 = data2015[~data2015['BuildingType'].str.contains('Multifamily')]
data2016 = data2016[~data2016['BuildingType'].str.contains('Multifamily')]

In [12]:
print('data2015:\n')
print('Nombre de lignes   supprimees :', nbr_lignes_2015 - data2015.shape[0])
print('Nombre de colonnes supprimees :', nbr_colonnes_2015 - data2015.shape[1])
nbr_lignes_actuelles_2015 = data2015.shape[0]
nbr_colonnes_actuelles_2015 = data2015.shape[1]

data2015:

Nombre de lignes   supprimees : 1690
Nombre de colonnes supprimees : 0

In [13]:
print('data2016:\n')
print('Nombre de lignes   supprimees :', nbr_lignes_2016 - data2016.shape[0])
print('Nombre de colonnes supprimees :', nbr_colonnes_2016 - data2016.shape[1])
nbr_lignes_actuelles_2016 = data2016.shape[0]
nbr_colonnes_actuelles_2016 = data2016.shape[1]

data2016:

Nombre de lignes   supprimees : 1708
Nombre de colonnes supprimees : 0

In [ ]:
#----------------------#

In [14]:
#Completion des colonnes LargestPropertyUseType, SecondLargestPropertyUseTypeGFA, ThirdLargestPropertyUseTypeGFA
#LargestPropertyUseType, SecondLargestPropertyUseType et ThirdLargestPropertyUseType

test = data2015[data2015['LargestPropertyUseType'].astype(str).str.contains('nan')][['PropertyGFATotal', 'PropertyGFAParking', 'PropertyGFABuilding(s)', 'PrimaryPropertyType', 'LargestPropertyUseTypeGFA', 'LargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA', 'SecondLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA', 'ThirdLargestPropertyUseType']]

#Gestion des 'NaN' pour LargestPropertyUseTypeGFA, SecondLargestPropertyUseTypeGFA et ThirdLargestPropertyUseTypeGFA :
#LargestPropertyUseTypeGFA = max(PropertyGFAParking, PropertyGFABuilding(s))
test['LargestPropertyUseTypeGFA'] = test[['PropertyGFABuilding(s)', 'PropertyGFAParking']].max(axis=1)
#SecondLargestPropertyUseTypeGFA = min(PropertyGFAParking, PropertyGFABuilding(s))
test['SecondLargestPropertyUseTypeGFA'] = test[['PropertyGFABuilding(s)', 'PropertyGFAParking']].min(axis=1)
#ThirdLargestPropertyUseTypeGFA = PropertyGFATotal - PropertyGFABuilding(s) - PropertyGFAParking
test['ThirdLargestPropertyUseTypeGFA'] = test['PropertyGFATotal'] - test['PropertyGFABuilding(s)'] - test['PropertyGFAParking']

#Gestion des 'NaN' pour LargestPropertyUseType, SecondLargestPropertyUseType et ThirdLargestPropertyUseType :
#LargestPropertyUseType <- PrimaryPropertyType
test['LargestPropertyUseType'] = test['PrimaryPropertyType']
#SecondLargestPropertyUseType <- Parking ou noInfo
test['SecondLargestPropertyUseType'] = test[test['SecondLargestPropertyUseTypeGFA'] != 0 & test['SecondLargestPropertyUseType'].astype(str).str.contains('nan')]['SecondLargestPropertyUseType'].replace(np.nan, 'Parking', regex=True)
test['SecondLargestPropertyUseType'] = test['SecondLargestPropertyUseType'].replace(np.nan, 'noInfo', regex=True)
#ThirdLargestPropertyUseType <- noInfo
test['ThirdLargestPropertyUseType'] = 'noInfo'

data2015 = test.combine_first(data2015)

In [15]:
#Completion des colonnes LargestPropertyUseType, SecondLargestPropertyUseTypeGFA, ThirdLargestPropertyUseTypeGFA
#LargestPropertyUseType, SecondLargestPropertyUseType et ThirdLargestPropertyUseType

test = data2016[data2016['LargestPropertyUseType'].astype(str).str.contains('nan')][['PropertyGFATotal', 'PropertyGFAParking', 'PropertyGFABuilding(s)', 'PrimaryPropertyType', 'LargestPropertyUseTypeGFA', 'LargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA', 'SecondLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA', 'ThirdLargestPropertyUseType']]

#Gestion des 'NaN' pour LargestPropertyUseTypeGFA, SecondLargestPropertyUseTypeGFA et ThirdLargestPropertyUseTypeGFA :
#LargestPropertyUseTypeGFA = max(PropertyGFAParking, PropertyGFABuilding(s))
test['LargestPropertyUseTypeGFA'] = test[['PropertyGFABuilding(s)', 'PropertyGFAParking']].max(axis=1)
#SecondLargestPropertyUseTypeGFA = min(PropertyGFAParking, PropertyGFABuilding(s))
test['SecondLargestPropertyUseTypeGFA'] = test[['PropertyGFABuilding(s)', 'PropertyGFAParking']].min(axis=1)
#ThirdLargestPropertyUseTypeGFA = PropertyGFATotal - PropertyGFABuilding(s) - PropertyGFAParking
test['ThirdLargestPropertyUseTypeGFA'] = test['PropertyGFATotal'] - test['PropertyGFABuilding(s)'] - test['PropertyGFAParking']

#Gestion des 'NaN' pour LargestPropertyUseType, SecondLargestPropertyUseType et ThirdLargestPropertyUseType :
#LargestPropertyUseType <- PrimaryPropertyType
test['LargestPropertyUseType'] = test['PrimaryPropertyType']
#SecondLargestPropertyUseType <- Parking ou noInfo
test['SecondLargestPropertyUseType'] = test[test['SecondLargestPropertyUseTypeGFA'] != 0 & test['SecondLargestPropertyUseType'].astype(str).str.contains('nan')]['SecondLargestPropertyUseType'].replace(np.nan, 'Parking', regex=True)
test['SecondLargestPropertyUseType'] = test['SecondLargestPropertyUseType'].replace(np.nan, 'noInfo', regex=True)
#ThirdLargestPropertyUseType <- noInfo
test['ThirdLargestPropertyUseType'] = 'noInfo'

data2016 = test.combine_first(data2016)

In [ ]:
#----------------------#

In [16]:
#Pour les valeurs de SecondLargestPropertyUseTypeGFA != 0, on remplace les NaN de SecondLargestPropertyUseType par 'Parking'
data2015['SecondLargestPropertyUseType'] = data2015[data2015['SecondLargestPropertyUseTypeGFA'] != 0 & data2015['SecondLargestPropertyUseType'].astype(str).str.contains('nan')]['SecondLargestPropertyUseType'].replace(np.nan, 'Parking', regex=True)

data2016['SecondLargestPropertyUseType'] = data2016[data2016['SecondLargestPropertyUseTypeGFA'] != 0 & data2016['SecondLargestPropertyUseType'].astype(str).str.contains('nan')]['SecondLargestPropertyUseType'].replace(np.nan, 'Parking', regex=True)

In [ ]:
#----------------------#

In [17]:
#On supprime la donnee emission de CO2 dont on a pas besoin.
#Notre cible (CO2) : GHGEmissions(MetricTonsCO2e)
data2015 = data2015.drop(columns=['GHGEmissionsIntensity(kgCO2e/ft2)'])
data2016 = data2016.drop(columns=['GHGEmissionsIntensity(kgCO2e/ft2)'])

In [ ]:
#----------------------#

In [18]:
#On supprime toutes les 'energies' pour eviter tout data leakage! (sauf ENERGYSTARScore et SiteEnergyUse(kBtu) qui est la cible)
data2015 = data2015.drop(columns=['SiteEUI(kBtu/sf)', 'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)', 'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)', 'NaturalGas(kBtu)', 'OtherFuelUse(kBtu)'])
data2016 = data2016.drop(columns=['SiteEUI(kBtu/sf)', 'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)', 'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)', 'NaturalGas(kBtu)'])

In [19]:
print('data2015:\n')
print('Nombre de lignes   supprimees :', nbr_lignes_actuelles_2015 - data2015.shape[0])
print('Nombre de colonnes supprimees :', nbr_colonnes_actuelles_2015 - data2015.shape[1])
nbr_lignes_actuelles_2015 = data2015.shape[0]
nbr_colonnes_actuelles_2015 = data2015.shape[1]

data2015:

Nombre de lignes   supprimees : 0
Nombre de colonnes supprimees : 12

In [20]:
print('data2016:\n')
print('Nombre de lignes   supprimees :', nbr_lignes_actuelles_2016 - data2016.shape[0])
print('Nombre de colonnes supprimees :', nbr_colonnes_actuelles_2016 - data2016.shape[1])
nbr_lignes_actuelles_2016 = data2016.shape[0]
nbr_colonnes_actuelles_2016 = data2016.shape[1]

data2016:

Nombre de lignes   supprimees : 0
Nombre de colonnes supprimees : 11

In [ ]:
#----------------------#

In [ ]:
#On separe latitude et longitude en deux colonnes distinctes, pour data2015

In [21]:
data2015['Latitude'] = data2015['Location'].apply(lambda x: gpf.extract_int_from_string(x, 'latitude', 'longitude'))

In [22]:
data2015['Longitude'] = data2015['Location'].apply(lambda x: gpf.extract_int_from_string(x, 'longitude', 'human_address'))

In [23]:
data2015 = data2015.drop(columns=['Location'])

In [ ]:
#----------------------#

In [ ]:
#Discretisation des features YearBuilt, NumberofBuildings et NumberofFloors

In [19]:
#On decoupe la colonne YearBuilt en tranches de 10 ans

In [24]:
bins = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2014]
data2015['YearBuilt'] = pd.cut(data2015['YearBuilt'], bins)
data2016['YearBuilt'] = pd.cut(data2016['YearBuilt'], bins)

In [ ]:
#On decoupe la colonne NumberofBuildings en tranches de 10

In [25]:
bins = [0, 10, 20, 30, 40]
data2015['NumberofBuildings'] = pd.cut(data2015['NumberofBuildings'], bins)
data2016['NumberofBuildings'] = pd.cut(data2016['NumberofBuildings'], bins)

In [ ]:
#On decoupe la colonne NumberofFloors en tranches de 10 etages

In [26]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
data2015['NumberofFloors'] = pd.cut(data2015['NumberofFloors'], bins)
data2016['NumberofFloors'] = pd.cut(data2016['NumberofFloors'], bins)

In [28]:
data2015.select_dtypes(include=['category']).head()

  NumberofBuildings NumberofFloors     YearBuilt
0           (0, 10]       (10, 20]  (1920, 1930]
1           (0, 10]       (10, 20]  (1990, 2000]
2           (0, 10]       (40, 50]  (1960, 1970]
3           (0, 10]        (0, 10]  (1920, 1930]
4           (0, 10]       (10, 20]  (1970, 1980]

In [ ]:
#----------------------#

In [49]:
print('data2015:\n')
print('Pourcentage de 0 dans valeur cible SiteEnergyUse(kBtu):          {:.2f} %'.format(data2015[data2015['SiteEnergyUse(kBtu)'] == 0].shape[0] / data2015.shape[0] * 100))
print('Pourcentage de 0 dans valeur cible GHGEmissions(MetricTonsCO2e): {:.2f} %'.format(data2015[data2015['GHGEmissions(MetricTonsCO2e)'] == 0].shape[0] / data2015.shape[0] * 100))

data2015:

Pourcentage de 0 dans valeur cible SiteEnergyUse(kBtu):          0.12 %
Pourcentage de 0 dans valeur cible GHGEmissions(MetricTonsCO2e): 0.12 %

In [50]:
print('data2016:\n')
print('Pourcentage de 0 dans valeur cible SiteEnergyUse(kBtu):          {:.2f} %'.format(data2016[data2016['SiteEnergyUse(kBtu)'] == 0].shape[0] / data2016.shape[0] * 100))
print('Pourcentage de 0 dans valeur cible GHGEmissions(MetricTonsCO2e): {:.2f} %'.format(data2016[data2016['GHGEmissions(MetricTonsCO2e)'] == 0].shape[0] / data2016.shape[0] * 100))

data2016:

Pourcentage de 0 dans valeur cible SiteEnergyUse(kBtu):          0.96 %
Pourcentage de 0 dans valeur cible GHGEmissions(MetricTonsCO2e): 0.36 %

In [60]:
#Pour les cibles (caracteristiques a predire), la quantite de 0 represente moins de 1% des donnees.
#Cette quantite etant tres faible, on accepte de les traiter en les supprimant simplement.
data2015 = data2015[data2015['SiteEnergyUse(kBtu)'] != 0]
data2015 = data2015[data2015['GHGEmissions(MetricTonsCO2e)'] != 0]

data2016 = data2015[data2015['SiteEnergyUse(kBtu)'] != 0]
data2016 = data2015[data2015['GHGEmissions(MetricTonsCO2e)'] != 0]

In [58]:
print('data2015:\n')
print('Pourcentage de 0 dans valeur cible SiteEnergyUse(kBtu):          {:.2f} %'.format((len(data2015['SiteEnergyUse(kBtu)']) - len(data2015['SiteEnergyUse(kBtu)'].dropna()))/len(data2015['SiteEnergyUse(kBtu)'])*100))
print('Pourcentage de 0 dans valeur cible GHGEmissions(MetricTonsCO2e): {:.2f} %'.format((len(data2015['GHGEmissions(MetricTonsCO2e)']) - len(data2015['GHGEmissions(MetricTonsCO2e)'].dropna()))/len(data2015['GHGEmissions(MetricTonsCO2e)'])*100))

data2015:

Pourcentage de 0 dans valeur cible SiteEnergyUse(kBtu):          0.42 %
Pourcentage de 0 dans valeur cible GHGEmissions(MetricTonsCO2e): 0.42 %

In [59]:
print('data2016:\n')
print('Pourcentage de 0 dans valeur cible SiteEnergyUse(kBtu):          {:.2f} %'.format((len(data2016['SiteEnergyUse(kBtu)']) - len(data2016['SiteEnergyUse(kBtu)'].dropna()))/len(data2016['SiteEnergyUse(kBtu)'])*100))
print('Pourcentage de 0 dans valeur cible GHGEmissions(MetricTonsCO2e): {:.2f} %'.format((len(data2016['GHGEmissions(MetricTonsCO2e)']) - len(data2016['GHGEmissions(MetricTonsCO2e)'].dropna()))/len(data2016['GHGEmissions(MetricTonsCO2e)'])*100))

data2016:

Pourcentage de 0 dans valeur cible SiteEnergyUse(kBtu):          0.12 %
Pourcentage de 0 dans valeur cible GHGEmissions(MetricTonsCO2e): 0.12 %

In [61]:
#Pour les cibles (caracteristiques a predire), la quantite de 'NaN' represente moins de 1 % des donnees.
#Cette quantite etant tres faible, on accepte de les traiter en les supprimant simplement.
data2015 = data2015.dropna(subset=['SiteEnergyUse(kBtu)'])
data2015 = data2015.dropna(subset=['GHGEmissions(MetricTonsCO2e)'])

data2016 = data2016.dropna(subset=['SiteEnergyUse(kBtu)'])
data2016 = data2016.dropna(subset=['GHGEmissions(MetricTonsCO2e)'])

In [ ]:
#----------------------#

In [62]:
#On met les deux colonnes cibles en derniere position
data2015['cible_ernegie'] = data2015['SiteEnergyUse(kBtu)']
data2015['cible_co2'] = data2015['GHGEmissions(MetricTonsCO2e)']

data2015 = data2015.drop(columns=['SiteEnergyUse(kBtu)', 'GHGEmissions(MetricTonsCO2e)'])

data2015 = data2015.rename(columns={'cible_ernegie': 'SiteEnergyUse(kBtu)', 'cible_co2': 'GHGEmissions(MetricTonsCO2e)'})

In [63]:
data2016['cible_ernegie'] = data2016['SiteEnergyUse(kBtu)']
data2016['cible_co2'] = data2016['GHGEmissions(MetricTonsCO2e)']

data2016 = data2016.drop(columns=['SiteEnergyUse(kBtu)', 'GHGEmissions(MetricTonsCO2e)'])

data2016 = data2016.rename(columns={'cible_ernegie': 'SiteEnergyUse(kBtu)', 'cible_co2': 'GHGEmissions(MetricTonsCO2e)'})

In [ ]:
#----------------------#

In [65]:
print('data2015 shape: ', data2015.shape)
print('\nNombre de lignes   supprimees :', nbr_lignes_2015 - data2015.shape[0])
print('Nombre de colonnes supprimees :', nbr_colonnes_2015 - data2015.shape[1])

print('\nNombre de lignes   supprimees : {:.1f} %'.format((nbr_lignes_2015 - data2015.shape[0])/nbr_lignes_2015*100))
print('Nombre de colonnes supprimees : {:.1f} %'.format((nbr_colonnes_2015 - data2015.shape[1])/nbr_colonnes_2015*100))

data2015 shape:  (1641, 36)

Nombre de lignes   supprimees : 1699
Nombre de colonnes supprimees : 11

Nombre de lignes   supprimees : 50.9 %
Nombre de colonnes supprimees : 23.4 %

In [66]:
print('data2016 shape: ', data2016.shape)
print('\nNombre de lignes   supprimees :', nbr_lignes_2016 - data2016.shape[0])
print('Nombre de colonnes supprimees :', nbr_colonnes_2016 - data2016.shape[1])

print('\nNombre de lignes   supprimees : {:.1f} %'.format((nbr_lignes_2016 - data2016.shape[0])/nbr_lignes_2016*100))
print('Nombre de colonnes supprimees : {:.1f} %'.format((nbr_colonnes_2016 - data2016.shape[1])/nbr_colonnes_2016*100))

data2016 shape:  (1641, 36)

Nombre de lignes   supprimees : 1735
Nombre de colonnes supprimees : 10

Nombre de lignes   supprimees : 51.4 %
Nombre de colonnes supprimees : 21.7 %

In [ ]:
#----------------------#

In [ ]:
#Dataset pour l'ENERGYSTARScore:

In [67]:
data2015_ess = data2015.dropna(subset=['ENERGYSTARScore'])
data2016_ess = data2016.dropna(subset=['ENERGYSTARScore'])

In [ ]:
#----------------------#

In [ ]:
#sans ENERGYSTARScore:

In [68]:
#Pour les colonnes qualitatives, on remplace les 'NaN' par 'noInfo'
tmp1 = data2015.select_dtypes(include=['object', 'category']).replace(np.nan, 'noInfo', regex=True)

#Pour les colonnes quantitatives, on remplace les 'NaN' par 0
tmp2 = data2015.select_dtypes(exclude=['object', 'category']).fillna(0)

data2015 = pd.concat([tmp1, tmp2], axis=1)

In [69]:
#Pour les colonnes qualitatives, on remplace les 'NaN' par 'noInfo'
tmp1 = data2016.select_dtypes(include=['object', 'category']).replace(np.nan, 'noInfo', regex=True)

#Pour les colonnes quantitatives, on remplace les 'NaN' par 0
tmp2 = data2016.select_dtypes(exclude=['object', 'category']).fillna(0)

data2016 = pd.concat([tmp1, tmp2], axis=1)

In [ ]:
#avec ENERGYSTARScore:

In [70]:
#Pour les colonnes qualitatives, on remplace les 'NaN' par 'noInfo'
tmp1 = data2015_ess.select_dtypes(include=['object', 'category']).replace(np.nan, 'noInfo', regex=True)

#Pour les colonnes quantitatives, on remplace les 'NaN' par 0
tmp2 = data2015_ess.select_dtypes(exclude=['object', 'category']).fillna(0)

data2015_ess = pd.concat([tmp1, tmp2], axis=1)

In [71]:
#Pour les colonnes qualitatives, on remplace les 'NaN' par 'noInfo'
tmp1 = data2016_ess.select_dtypes(include=['object', 'category']).replace(np.nan, 'noInfo', regex=True)

#Pour les colonnes quantitatives, on remplace les 'NaN' par 0
tmp2 = data2016_ess.select_dtypes(exclude=['object', 'category']).fillna(0)

data2016_ess = pd.concat([tmp1, tmp2], axis=1)

In [ ]:
#----------------------#

In [72]:
print('data2015 noEss shape: ', data2015.shape)
print('data2016 noEss shape: ', data2016.shape)
print('data2015 Ess   shape: ', data2015_ess.shape)
print('data2016 Ess   shape: ', data2016_ess.shape)

data2015 noEss shape:  (1641, 36)
data2016 noEss shape:  (1641, 36)
data2015 Ess   shape:  (1117, 36)
data2016 Ess   shape:  (1117, 36)

In [25]:
#On enregistre ces donnees pour la suite du projet:

In [73]:
#sans ENERGYSTARScore:
data2015.to_csv('data2015_noEss.csv')
data2016.to_csv('data2016_noEss.csv')

In [74]:
#avec ENERGYSTARScore:
data2015_ess.to_csv('data2015_ess.csv')
data2016_ess.to_csv('data2016_ess.csv')